body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#chat {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    font-size: 14px;
}

#chat form {
    background: #367fa9;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

#chat form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

#chat form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#chat form button:hover {
    width: 9%;
    background: rgb(265, 265, 265);
    cursor: pointer;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

#messages li {
    padding: 5px 10px;
}

#welcome-form .nickname {}

header {
    background-color: #367fa9;
    display: flex;
    flex-direction: column;
}

header .horni-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .horni-menu .popis {
    color: white;
    margin-left: 15px;
    width: 150px
}

header .horni-menu .popis .tucne {
    font-weight: bolder;
}

header .horni-menu h2 {
    color: white;
    width: 250px
}

header .horni-menu .rozklikatko {
    width: 150px;
    text-align: right;
    margin-right: 15px;
    color: white;
    cursor: pointer;
}

header .radka .nastaveni_mobilni {
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    margin-right: 15px;
    background: white;
    width: 300px;
    position: absolute;
    right: 0;
    padding: 20px;
}

header .radka .nastaveni_mobilni .policko {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#welcome-form {
    width: 450px;
    margin: 0 auto;
}

#welcome-form .nickname {
    margin: 0 auto;
    width: 300px;
}

#welcome-form .nickname > form > label {
    margin-right: 15px;
}

#welcome-form .nickname > form > .button {
    margin-top: 10px;
    text-align: center
}

#messages li {
    display: flex
}

#messages li:nth-child(odd) {
    background: #ecf0f5;
}

#messages li .nickname {
    width: 75px;
    margin-right: 10px;
    font-weight: bolder;
    border-right: 1px solid #367fa9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    margin-left: 10px;
}

#messages li .zprava {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 99%;
    text-align: justify
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}